{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block main %}
<div class="todo-form-div">
  <h1>New ToDo</h1>
  <form method="post" action="/" class="todo-form">
    <textarea name="todo" class="todo-textarea"></textarea>
    <div class="date-n-button">
      <input class="todo-date" type="datetime-local" name="date" value="{{now}}" min="{{now}}">
      <button type="submit" class="main-button add-button">Add</button>
    </div>
  </form>
</div>
<div class="bottom-div">
  <div class="todos-header"><div>ToDo</div><div>Due date</div></div>
  <ul class="todos-list">
    {% for todo in user.todos %}
      <li class="todos-list-{{ todo.id }}">
        {% if todo.status == true %}
        <div class="checkbox-container checkbox-container-{{ todo.id }}">
          <input data-id="{{ todo.id }}" id="checkbox{{ todo.id }}" type="checkbox" class="checkbox-{{ todo.id }} checkbox" checked>
          <label for="checkbox{{ todo.id }}"><span class="todo-text-{{ todo.id }}">{{ todo.text }}</span></label>
        </div>
        <form class="hide edit-form-{{ todo.id }} edit-form" method="POST" action="/edit-todo">
          <textarea class="edit-input" placeholder="Insert edited ToDo" name="edited_todo" autocomplete="off">{{todo.text}}</textarea>
          <input class="edit-date" type="datetime-local" name="edited_date" value="{{todo.date}}">
          <button class="sec-button" name="button" value="{{ todo.id }}" type="submit" >Save</button>
        </form>
        {% else %}
        <div class="checkbox-container checkbox-container-{{ todo.id }}">
          <input data-id="{{ todo.id }}" id="checkbox{{ todo.id }}" type="checkbox" class="checkbox-{{ todo.id }} checkbox">
          <label for="checkbox{{ todo.id }}"><span class="todo-text-{{ todo.id }}">{{ todo.text }}</span></label>
        </div>
        <form class="hide edit-form-{{ todo.id }} edit-form" method="POST" action="/edit-todo">
          <textarea class="edit-input" type="text" placeholder="Insert edited ToDo" name="edited_todo" autocomplete="off">{{todo.text}}</textarea>
          <input class="edit-date" type="datetime-local" name="edited_date" value="{{todo.date}}">
          <button class="sec-button" name="button" value="{{ todo.id }}" type="submit">Save</button>
        </form>
        {% endif %}
        <div class="date-text date-text-{{todo.id}}">{{convert_date(todo.date)}}</div>
        <button data-id="{{ todo.id }}" id="editButton" class="edit-button edit-button-{{ todo.id }} sec-button">Edit</button>
        <div></div>
        <button class="sec-button delete-button-{{ todo.id }}" data-id="{{ todo.id }}" id="deleteButton">Delete</button>
      </li> 
    {% endfor %}  
  </ul>
</div>
{% endblock %}