.main-button, .sec-button {
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s;
  font-weight: 600;
}

.main-button {
  background-color: #A0153E;
  color: #ffffff;  
}

.main-button:hover {
  background-color: #750f2e;
}

.sec-button {
  background-color: #ffffff;
  color: #000000;
}

.sec-button:hover {
  background-color: #ebebeb;
}