.main-button {
  background-color: #8b0c5f;
  color: #ffffff;
  border: none;
  width: 80px;
  height: 36px;
  border: none;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s;
  font-weight: 500;
}

.main-button:hover {
  background-color: rgb(114, 12, 78);
}

.sec-button {
  background-color: #ffffff;
  color: #000000;
  border: none;
  height: 34px;
  border-radius: 18px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1s;
  font-weight: 600;
}

.sec-button:hover {
  background-color: #ebebeb;
}