.todo-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.todo-form {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.todo-form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-container, .username-container, .password-container, .fullname-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.todo-textarea {
  background-color: #CF8A9E;
  font-size: 20px;
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  margin: 0;
  height: 100px;
  border-radius: 10px;
  padding: 4px;
  width: 90%;
  outline: none;
}

.form-input {
  outline: none;
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  background-color: #A0153E;
  color: white;
  font-size: 16px;
}

.edit-form {
  display: flex;
  align-items: center;
}

.form-input::placeholder {
  color: #ff3030;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;
  -webkit-text-fill-color: white !important;
}

