@media only screen and (max-width: 425px) {
  .text-save {display: none;}
  .icon-save {display: block;}
  .edit-date-n-button {
    grid-template-columns: 79% 2% 19%;
  }
}

@media only screen and (max-width: 580px) {
  .todo-form {
    width: 95%;
    grid-template-columns: 100%;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .show {
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
  }
  .show textarea, .show input {font-size: 18px;}
  .date-n-button {
    grid-template-columns: 100%;
    row-gap: 10px;
  }
}


@media only screen and (max-width: 800px) {
  .todos-list li span, .date-text {font-size: 16px;}
  .todos-list {width: 95%;}
  .todos-list li {
    grid-template-columns: 50% 2% 23% 2% 10% 3% 10%;
    width: 100%;
    padding: 4px;
  }
  .todos-header {
    width: 95%; 
    grid-template-columns: 50% 50%;
    margin: 0;
    padding: 0;
  }
  .date-text {margin: 0;}
  .auth-form {width: 60%;}
  .text {display: none;}
  .icon {display: block;}
}


@media only screen and (max-width: 950px) and (min-width: 580px) {
  .text-save {display: none;}
  .icon-save {display: block;}
  .edit-date-n-button {
    grid-template-columns: 79% 2% 19%;
  }
}


@media only screen and (max-width: 1280px) and (min-width: 580px) {
  .todos-list, .todo-form {width: 90%;}
  .date-n-button {
    grid-template-columns: 100%;
    row-gap: 10px;
  }
  .todo-date {width: 98%;}
  .todos-header {
    font-size: 20px;
    width: 90%; 
    margin: 0;
    padding: 0;
  }
}
