@media only screen and (max-width: 800px) {
  .todos-list li span, .date-text {
    font-size: 16px;
  }
  .todos-list {
    width: 100%;
  }
  .todos-list li {
    grid-template-columns: 40% 25% 16% 3% 16%;
    width: 95%;
    padding: 4px;
  }
  .todos-header {
    width: 100%; 
    grid-template-columns: 40% 60%;
    margin: 0;
    padding: 0;
  }
  .todo-form {
    width: 95%;
    grid-template-columns: 100%;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .todo-textarea, .todo-date {
    width: 98%;
  }
  .date-n-button {
    grid-template-columns: 100%;
    row-gap: 10px;
  }
  .date-text {
    margin: 0;
  }
  .auth-form {
    width: 60%;
  }
}


@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .todos-list, .todo-form {
    width: 90%;
  }
  .date-n-button {
    grid-template-columns: 100%;
    row-gap: 10px;
  }
  .todo-date {
    width: 98%;
  }
}
