.header-navbar ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #A0153E;
  z-index: 9999;
  top: 0;
}

.left {
  display: inline;
  float: left;
}

.right {
  display: inline;
  float: right;
}

.a, .logo { 
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 18px;
  transition: all 0.15s;
  height: 100%;
}

.a:hover {
  background-color: #8b0c5f;
}

.a[href="/my-account"] {
  overflow: hidden;
  white-space: nowrap;
}

