.todos-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 20px;
  width: 70%;
  padding-inline-start: 0px;
}

.todos-list li {
  display: grid;
  grid-template-columns: 50% 25% 12% 1% 12%;
  align-items: center;
  padding: 8px;
  background-color:#A0153E;
  border-radius: 10px;
}

.todos-list li span {
  width: 90%;
  word-wrap: break-word;
}

.todos-header {
  font-size: 24px;
  font-weight: bold;
  width: 70%; 
  display: grid;
  grid-template-columns: 50% 50%;
}

.edit-input {
  background-color: white;  
  font-weight: bold;
  font-size: 22px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  margin: 0;
  border-radius: 10px;
  padding: 4px;
  outline: none;
  width: 90%;
  height: 40px;
}

.todo-date, .edit-date {
  width: 90%;
  border-radius: 12px;
  font-size: 18px;
  height: 40px;
  border: none;
  padding-left: 2px;
  padding-right: 2px;
}

.todo-date {
  border: 1px solid black;
}

::-webkit-calendar-picker-indicator{
  margin-left: -15px;
}

.date-text{
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.todos-stats {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  justify-content: center;
  align-items: center;
}


.checkbox-container label {
  cursor: pointer;
  font-size: 22px;
  color: white;
  display: flex;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: '';
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 1em;
  border: .05em solid black;
  border-radius: .15em;
  margin-right: .5em;
  background-color: white;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
  background-color: #ff2365;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: #480b1d;
  content: "\002714";
  padding-left: 0.1em;
  padding-right: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 800px) {
  .todos-list li span {
    font-size: 18px;
  }

  .date-text {
    font-size: 16px;
  }

  .todos-list {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .todos-list li {
    grid-template-columns: 45% 25% 14% 2% 14%;
    border-radius: 0;
  }
  
  .todos-header {
    width: 100%; 
    grid-template-columns: 45% 55%;
    margin: 0;
    padding: 0;
  }
}
