/* ToDos list styling */
.todos-header {
  font-size: 24px;
  font-weight: bold;
  width: 70%; 
  display: grid;
  grid-template-columns: 50% 50%;
}

.todos-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  row-gap: 20px;
  width: 71%;
  padding-inline-start: 0px;
}

.todos-list li {
  display: grid;
  grid-template-columns: 50% 25% 12% 1% 12%;
  align-items: center;
  padding: 8px;
  background-color:#A0153E;
  border-radius: 10px;
  width: 100%;
}

.todos-list li span {
  width: 90%;
  word-wrap: break-word;
}

.date-text{
  font-size: 19px;
  font-weight: bold;
  color: white;
  margin-left: 5px;
}


/* Checkbox styling */
.checkbox-container label {
  cursor: pointer;
  font-size: 22px;
  color: white;
  display: flex;
}

.checkbox-container input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: '';
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 1em;
  border: .05em solid black;
  border-radius: .15em;
  margin-right: .5em;
  background-color: white;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
  background-color: #ff2365;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  background-color: #480b1d;
  content: "\002714";
  padding-left: 0.1em;
  padding-right: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 800px) {
  .todos-list li span, .date-text {
    font-size: 16px;
  }

  .todos-list {
    width: 100%;
  }

  .todos-list li {
    grid-template-columns: 40% 25% 16% 3% 16%;
    width: 95%;
    padding: 4px;
  }
  
  .todos-header {
    width: 100%; 
    grid-template-columns: 40% 60%;
    margin: 0;
    padding: 0;
  }

  .todo-form {
    width: 95%;
    grid-template-columns: 100%;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .todo-textarea, .todo-date {
    width: 98%;
  }

  .date-n-button {
    grid-template-columns: 100%;
    row-gap: 10px;
  }

  .date-text {
    margin: 0;
  }

  .auth-form {
    width: 60%;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 801px) {
  .todos-list, .todo-form {
    width: 90%;
  }

  .date-n-button {
    grid-template-columns: 100%;
    row-gap: 10px;
  }

  .todo-date {
    width: 98%;
  }
}
